.barraNavegacion__logo{
    font-size: 40px;
    color: yellow;
    margin-top:2px;
    justify-content: center;
    position: absolute;
}
.barraNavegacion__items{
    display: grid;
    height: 80px;
    grid-template-columns: 75px 150px 100px 100px 75px;  
    grid-template-rows:auto; 
    justify-content: end;
    align-items: flex-end;
    background-color: blue;
}
.barraNavegacion__item{
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.barraNavegacion__item:hover{
    background-color: rgb(56, 56, 238);
    color: white;
}
.carrito{
    width: 40px;
    height: 30px;
}
.carrito:hover{
    align-items: center;
    border-radius: 5px;
    background-color: yellow;
}
.item__titulo{
    display: grid;
    width: 150px;
    justify-items: center;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
    color: gray;
}
.item__estructura{
    display: grid;
    width: 150px;
    grid-template-columns: 50px 50px 50px;
    justify-items: center;
    border: solid gray 1px;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;

    
}
.sumar{
    color:  rgb(0, 140, 255);
    border: white;
    font-size: 20px;
    background-color: white;
}
.restar{
    color:  rgb(0, 140, 255);
    border: white;
    font-size: 20px;

    background-color: white;
}
.item__titulo--añadirCarrito{
    width: 150px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 50px;
    text-align:center;
    color: rgb(0, 140, 255);
    border: solid rgb(0, 140, 255) 1px;
}
.stock{
    font-size: 10px;
    color: grey;
}