.barraNavegacion__logo{
    font-size: 40px;
    color: yellow;
    margin-top:2px;
    justify-content: center;
    position: absolute;
}
.barraNavegacion__items{
    display: grid;
    height: 80px;
    grid-template-columns: 75px 150px 100px 100px 75px;  
    grid-template-rows:auto; 
    justify-content: end;
    align-items: flex-end;
    background-color: blue;
}
.barraNavegacion__item{
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.barraNavegacion__item:hover{
    background-color: rgb(56, 56, 238);
    color: white;
}
.carrito{
    width: 40px;
    height: 30px;
}
.carrito:hover{
    align-items: center;
    border-radius: 5px;
    background-color: yellow;
}


